{{#if new}}
    <input type="text" class="list-group-item">
{{else}}
    <a class="project-item-view list-group-item {{#if active}}active{{/if}}" href="/projects?project_id={{id}}">{{name}}</a>
{{/if}}