<div class="row projects-view-row">
    <div class="col-md-2 projects-bar"></div>
    <div class="col-md-10 show-project-container">
        <div class="not-selected-project-view">
            Выберите или создайте новый проект
        </div>
    </div>
</div>