<div class="change-range">
    <div class="dropdown">
        Интервал
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="currInt">{{currInt}}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">1hr</a></li>
            <li><a href="#">3hr</a></li>
            <li><a href="#">6hr</a></li>
            <li><a href="#">1day</a></li>
            <li><a href="#">1week</a></li>
        </ul>
    </div>

    <!--Выберите интервал <input type="text"/>-->
</div>